body {
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
}

body > header{
    background-color:dodgerblue;
    color:white;
}

body > header{
    display:inline-flex;
    justify-content:space-between;
    width: 100%;
}


body > header > nav > ul {
    list-style: none;
    text-align: right;
    display:inline-flex;
    
}

body > header > nav > ul > li {
    margin: 5px;
}

body > header > nav > ul > li > a{
    color:white;
}

#grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:auto;
}

#login-section{
    margin-left: 30%;
    grid-row-start:1;
    grid-row-end:2;
    
}

#categories{
    margin-left: 30%;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:4;
    
}

#latest{
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:4;
    margin-right:30%;
}

.story{
    display:inline-flex;
}

article{
    margin: 0 10% 0 10%;
}

.text-box {
    width:90%;
    height: 100px;
}

.text-submit{
    float:right;
    margin-right:10%;
}

#comments-section{
    margin:0 10% 0 10%;
}

#comments-form{
    margin-bottom: 25px;
}

body>footer{
    text-align:center;
    background-color:dodgerblue;
    color:white;
    padding:10px;
    margin-bottom:0;
}

img{
    height:150px;
    width:150px;
}